<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
  <h1 style="color:brown; background-color:cyan; font-family: Georgia, 'Times New Roman', Times, serif">
    Welcome to {{ title }}
  </h1>
  
</div>
<div class="container" style="background-color:mediumslateblue">
<nav class="navbar bg-dark">
<a class="nav-brand" style="color:white">Logo</a>
<ul class="nav navbar">
  <li class="nav-item"><a class="btn btn-primary" style="margin-right: 20px; font-family: Georgia, 'Times New Roman', Times, serif" routerLink="studentlist">Home</a></li>
  <li class="nav-item"><a class="btn btn-primary " style="margin-right: 20px; font-family: Georgia, 'Times New Roman', Times, serif" routerLink="start">About</a></li>
  <li class="nav-item"><a class="btn btn-primary " style="margin-right: 20px; font-family: Georgia, 'Times New Roman', Times, serif" routerLink="start">Contact</a></li>
  <li class="nav-item"><a class="btn btn-primary" style="margin-right: 20px; font-family: Georgia, 'Times New Roman', Times, serif" routerLink="add">Add Student</a></li>
  <li class="nav-item"><a class="btn btn-primary" style="margin-right: 20px; font-family: Georgia, 'Times New Roman', Times, serif" routerLink="update">Update</a></li>
  <li class="nav-item"><a class="btn btn-primary" style="margin-right: 20px; font-family: Georgia, 'Times New Roman', Times, serif" routerLink="search">Search</a></li>
  <li class="nav-item"><a class="btn btn-primary" style="margin-right: 20px; font-family: Georgia, 'Times New Roman', Times, serif" routerLink="showsearch">Show Searched Data</a></li>
</ul>
</nav>

</div>
<router-outlet></router-outlet>
